<!-- public/views/army.html -->

<div class="main-content" >
    <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="row">
            <!--Users-->
            <div class="col-md-12">
				    <div class="panel">
				        <div class="panel-heading">
				            <h3 class="panel-title">Your Armies</h3>
				        </div>
				    <div class="panel-body">
                        
                        <!-- Stats Content -->         
                        <p>{{ tagline }}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>