<!-- public/views/history.html -->

<div class="main-content">
    <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="row">
            <!--Users-->
            <div class="col-md-12">
				    <div class="panel">
				        <div class="panel-heading">
				            <h3 class="panel-title">Match History</h3>
				        </div>
				    <div class="panel-body">
                        
                        <!-- History Content -->         
<!--                        <p>{{ tagline }}</p>-->
<!--
                        list-group-item list-group-item-success = green = win
                        list-group-item list-group-item-danger = red = loss
                        list-group-item list-group-item-warning = yellow = tie
-->
                        
                        <div class="container-fluid">
                          <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                              <h3 class="panel-heading">
                                
                                <div class="left">Most Played Army</div>
                                <div class="right">Win/Loss/Ties graph</div>
                              </h3>
                                
                                
                              <div class="list-group-item list-group-item-success">
                                <h4 class="panel-title">
                                    <div class="left"><a class="empty">Date Time of Match</a></div>
                                    <div class="right"><i data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="lnr lnr-chevron-down btn-toggle-collapse"></i></div> 
                                </h4>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                  <p class="left">Score:</p>
                                  <p class="left">Army:</p>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="list-group-item list-group-item-danger">
                                <h4 class="panel-title">
                                    <div class="left"><a class="empty">Date Time of Match</a></div>
                                    <div class="right"><i data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="lnr lnr-chevron-down btn-toggle-collapse"></i></div> 
                                </h4>
                              </div>
                              <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <p class="left">Score:</p>
                                  <p class="left">Army:</p>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="list-group-item list-group-item-warning">
                                <h4 class="panel-title">
                                    <div class="left"><a class="empty">Date Time of Match</a></div>
                                    <div class="right"><i data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="lnr lnr-chevron-down btn-toggle-collapse"></i></div> 
                                </h4>
                              </div>
                              <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <p class="left">Score:</p>
                                  <p class="left">Army:</p>
                                </div>
                              </div>
                            </div>
                          </div> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>