<!-- public/views/history.html -->

<div class="main-content">
    <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="row">
            <!--Users-->
            <div class="col-md-12">
				    <div class="panel">
				        <div class="panel-heading">
				            <h3 class="panel-title">Match History</h3>
				        </div>
				    <div class="panel-body">
                        
                        <!-- History Content -->         
<!--                        <p>{{ tagline }}</p>-->
<!--
                        list-group-item list-group-item-success = green = win
                        list-group-item list-group-item-danger = red = loss
                        list-group-item list-group-item-warning = yellow = tie
-->
                        
                        <div class="container-fluid">
                          <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                              <div class="list-group-item list-group-item-success">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Match</a>
                                    <div class="right"><p>Victory December 25, 2016</p></div>
                                </h4>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="list-group-item list-group-item-danger">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Match</a>
                                    <div class="right"><p>Defeat December 24, 2016</p></div>
                                </h4>
                              </div>
                              <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="list-group-item list-group-item-warning">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Match</a>
                                    <div class="right"><p>Tie December 23, 2016</p></div>
                                </h4>
                              </div>
                              <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                              </div>
                            </div>
                          </div> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>