<!-- public/views/home.html -->

<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
                    <div class="row">
							<div class="col-md-6">
							<!-- TODO LIST -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Recent Games</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<ul class="list-unstyled todo-list">
										<li>
											<p>
												<span class="title">Match 1</span>
												<span class="short-description">Match #1 description</span>
												<span class="date">Oct 9, 2016</span>
											</p>
											<div class="controls">
												<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
											</div>
										</li>
										<li>
											<p>
												<span class="title">Match 2</span>
												<span class="short-description">Match #2 description</span>
												<span class="date">Oct 23, 2016</span>
											</p>
											<div class="controls">
												<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
											</div>
										</li>
										<li>
											<p>
												<strong>Match 3</strong>
												<span class="short-description">Match #3 description</span>
												<span class="date">Oct 11, 2016</span>
											</p>
											<div class="controls">
												<a href="#"><i class="icon-software icon-software-pencil"></i></a> <a href="#"><i class="icon-arrows icon-arrows-circle-remove"></i></a>
											</div>
										</li>
									</ul>
								</div>
							<!-- END TODO LIST -->
						</div>
					   </div>
                        <div class="col-md-6">
							<!-- Ratings CHART -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Rating</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
                                    <div class="col-md-6">
                                        <p>Tentative ranking symbol goes here</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Win/Loss/Ties chart goes here</p>
                                    </div>
<!--									<div id="ratings-chart" class="ct-chart"></div>-->
								</div>
							</div>
							<!-- END Ratings CHART -->
						</div>
				</div>
				
                    
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-6">
							<!-- VISIT CHART -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Profile Visits</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
                                    <p>Profile view counter goes here</p>
<!--									<div id="visits-chart" class="ct-chart"></div>-->
								</div>
							</div>
							<!-- END VISIT CHART -->
						</div>
							<div class="col-md-6">
							<!-- TODO LIST -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Armies</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
<!--									List here-->
                                    
                                    <div class="container-fluid">
                                          <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                              <div class="panel-heading">
                                                <h4 class="panel-title">
                                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Army 1</a>
                                                </h4>
                                              </div>
                                              <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                              </div>
                                            </div>
                                            <div class="panel panel-default">
                                              <div class="panel-heading">
                                                <h4 class="panel-title">
                                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Army 2</a>
                                                </h4>
                                              </div>
                                              <div id="collapse2" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                              </div>
                                            </div>
                                            <div class="panel panel-default">
                                              <div class="panel-heading">
                                                <h4 class="panel-title">
                                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Army 3</a>
                                                </h4>
                                              </div>
                                              <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                              </div>
                                            </div>
                                          </div> 
                                        </div>
                    
								</div>
							<!-- END TODO LIST -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->