<!-- public/views/login.html -->
<div id="textContainer">
<form ng-submit="submit(login)">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="login.username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="login.password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-info" ng-click="register()">Register</button>
</form>
</div>