<!-- public/views/stats.html -->

<div class="main-content" >
    <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="row">
            <!--Users-->
            <div class="col-md-12">
				    <div class="panel">
				        <div class="panel-heading">
				            <h3 class="panel-title">Statistics Across the World</h3>
				        </div>
				    <div class="panel-body">
                        
                        <!-- Stats Content -->         
                        <p>{{ tagline }}</p>
                        
                        <div class="col-md-12">
                        
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Rank</th>
                                            <th>Username</th>
                                            <th>Division</th>
                                            <th>Games Played</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>bjohn</td>
                                            <td>Diamond</td>
                                            <td>1337</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>mrodg</td>
                                            <td>Platinum</td>
                                            <td>200</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>mly</td>
                                            <td>Gold</td>
                                            <td>476</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>jdoe</td>
                                            <td>Silver</td>
                                            <td>842</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>fdrop</td>
                                            <td>Bronze</td>
                                            <td>3421</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>