body {
	background: url('/assets/bgimage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

li:hover {
	background-color: #32324e;
	border-radius: 5px;
}

#textContainer {
	background: rgba(255,255,255,0.7);
	padding: 25px;
	border-radius: 5px;
}